@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

html, body {
	font-family: 'Open Sans', sans-serif;
	color: hsl(0, 0%, 30%);
}

h1, h2, h3 {
	font-weight: 400;
}

.comment {
	padding: 3px 0;
}
.comment-actions {
	padding: 10px 0;
	text-align: center;
}
.profile {
	padding-top: 10px;

	.profile-image {
		display:inline-block;
		width: 175px;
		img {}
	}
	.profile-details {
		display: inline-block;
		.level {

		}
		.points h1 {

		}
		.level {

		}
	}
	.badges {
		margin: 5px 0;
		text-align: center;
		.badge {
			display: inline-block;
			width: 100px;
			div.label {
				
			}
		}
	}
}

#upcoming-cleanups {
	.cleanups {
		.cleanup-detail {
			
		}
		.cleanup-attending {
			h2 {}
			small {}
		}
	}
}