.comment {
	padding: 3px;
}
.comment-actions {
	padding: 10px 0;
	text-align: center;
}
.profile {
	.profile-image {
		img {}
	}
	.profile-details {
		.level {

		}
		.points h1 {

		}
		.level {

		}
	}
}

#upcoming-cleanups {
	.cleanups {
		.cleanup-detail {
			
		}
		.cleanup-attending {
			h2 {}
			small {}
		}
	}
}