.comment {
	padding: 3px;
}
.comment-actions {
	padding: 10px 0;
	text-align: center;
}
.profile {
	padding-top: 10px;

	.profile-image {
		display:inline-block;
		width: 175px;
		img {}
	}
	.profile-details {
		display: inline-block;
		.level {

		}
		.points h1 {

		}
		.level {

		}
	}
	.badges {
		margin: 5px 0;
		text-align: center;
		.badge {
			display: inline-block;
			width: 100px;
			div.label {
				
			}
		}
	}
}

#upcoming-cleanups {
	.cleanups {
		.cleanup-detail {
			
		}
		.cleanup-attending {
			h2 {}
			small {}
		}
	}
}